@{
    ViewBag.Title = "Home Page";
}


<div class="containter pushdown">
    <div class="row">
        <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <h2 class="homefont">Add A Review</h2>
                <p><a class="btn btn-default" href="http://localhost:58610/Reviews/Create">Click Here &raquo;</a></p>
            </div>
        
            <div class="col-md-3">
                <h2 class="homefont">Read Reviews</h2>
                <p><a class="btn btn-default" href="http://localhost:58610/Reviews/Index">Click Here &raquo;</a></p>
            </div>
        <div class="col-md-3">
        </div>
        </div>
</div>